{% extends 'base.html.twig' %}

{% block body %}
	<div class="collayout">
		<div class="col1">
			<table>
				<tr>
					<td><img src="{{ asset("img/histoire_white_48.png")}}" class="circle"/></td>
					<td><a href="{{ path('contribuezHistoire') }}">Histoire</a></td>
				</tr>
				<tr>
					<td><img src="{{ asset("img/geographie_white_48.png")}}" class="circle"/></td>
					<td><a href="{{ path('contribuezGeographie') }}">Géographie</a></td></tr>
				<tr>
					<td><img src="{{ asset("img/economie_white_48.png")}}" class="circle"/></td>
					<td><a href="{{ path('contribuezEconomie') }}">Économie</a></td>
				</tr>
				<tr>
					<td><img src="{{ asset("img/population_white_48.png")}}" class="circle"/></td>
					<td><a href="{{ path('contribuezPopulation') }}">Population & Société</a></td>
				</tr>
				<tr>
					<td><img src="{{ asset("img/histoire_white_48.png")}}" class="circle"/></td>
					<td><a href="{{ path('contribuezToponymie') }}">Toponymie</td>
				</tr>
				<tr>
					<td><img src="{{ asset("img/politique_white_48.png")}}" class="circle"/></td>
					<td><a href="{{ path('contribuezPolitique') }}">Politique & Administration</a></td>
				</tr>
				<tr>
					<td><img src="{{ asset("img/patrimoine_white_48.png")}}" class="circle"/></td>
					<td><a href="{{ path('contribuezCulture') }}">Culture locale & Patrimoine</a></td>
				</tr>
				<tr>
					<td><img src="{{ asset("img/urbanisme_white_48.png")}}" class="circle"/></td>
					<td><a href="{{ path('contribuezUrbanisme') }}">Urbanisme</a></td>
				</tr>
			</table>
		</div>
		<div class="col2">
			{% block content %}{% endblock %}
		</div>
		<div class="col3">
			<table class="title">
				<tr>
					<td><img src="{{ asset("img/tutoriel_white_48.png")}}" class="circle"/></td>
					<td>Résumé du tutoriel</td>
				</tr>
			</table>

			{% block rightcol %}{% endblock %}
		</div>
	</div>
{% endblock %}

