<ul class="menu">
	<li class="title"><img src="{{ asset("img/tutoriel_white_48.png")}}" class="circle"/><div class="label">Actions</div></li>
	<li><a href="https://fr.wikipedia.org/w/index.php?title=Special:UserLogin&type=signup"><img src="{{ asset("img/contribuez_white_48.png")}}" class="circle"/><div class="label">Créer un compte</div></a></li>
	<li><a href="https://fr.wikipedia.org/w/index.php?title=Special:UserLogin{% if app.session.has("commune_title") %}&returnto={{ app.session.get("commune_wpTitle") }}{% endif %}"><img src="{{ asset("img/contribuez_white_48.png")}}" class="circle"/><div class="label">Se connecter</div></a></li>
	{% if app.session.has("commune_title") %}
		<li><a href="http://fr.wikipedia.org/wiki/{{ app.session.get("commune_wpTitle") }}"><img src="{{ asset("img/contribuez_white_48.png")}}" class="circle"/><div class="label">Voir l’article</div></a></li>
		<li><a href="http://fr.wikipedia.org/wiki/{{ app.session.get("commune_wpTitle") }}?veaction=edit"><img src="{{ asset("img/contribuez_white_48.png")}}" class="circle"/><div class="label">Éditer</div></a></li>
	{% endif %}
</ul>

