<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Ma Commune Wikipédia{% endblock %}</title>
		<link rel="stylesheet" type="text/css" media="screen, projection, print" href="{{ asset('css/style.css') }}" />
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="topbar">
			<a href="{{ path('home') }}"><img class="logo" src="{{ asset('img/logoheader_60.png') }}"/></a>
			<ul class="mainmenu">
				{% block searchbox %}
				<li class="mainmenuSearch"><form action="{{ path("communeSearch") }}" method="get">
					<input placeholder="Chercher mon village, ma ville" autocomplete="off" name="title" class="searchbox" id="searchbox"/>
				</form></li>
				{% endblock %}
				<li class="mainmenuItem"><a href="{{ path('decrivez') }}">Décrivez</a></li>
				<li class="mainmenuItem"><a href="{{ path('illustrez') }}">Illustrez</a></li>
				<li class="mainmenuItem"><a href="{{ path('agissez') }}">Agissez</a></li>
				<li class="mainmenuItem"><a href="{{ path('contact') }}">Contact</a></li>
				<li class="mainmenuItem"><img src="{{ asset('img/facebook_white_36.png') }}"/></li>
				<li class="mainmenuItem"><img src="{{ asset('img/twitter_white_36.png') }}"/></li>

			</ul>
		</div>
		{% block body %}{% endblock %}

		{% block javascripts %}
			<script type="text/javascript" src="{{ asset('js/suggest.js') }}"></script>
			<script type="text/javascript">
				window.onload = function() {
					{% block javascriptsOnload %}
					var node = document.getElementById("searchbox");
					if (node) {
						var current = null;
						{% if commune is defined %}
							current = "{{ commune.getTitle() }}";
						{% else %}
							{% if app.request.cookies.has("commune_title") %}current = "{{app.request.cookies.get("commune_title")}}";{% endif %}
						{% endif %}					
						if (current) node.setAttribute("placeholder", current);
						new Suggest(node, "{{ path('apiSuggest', {"tree": "communes"})}}?str=");
					}
					{% endblock %}
				}
			</script>
		{% endblock %}
	</body>
</html>
