<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Ma Commune Wikipédia{% endblock %}</title>
		<link rel="stylesheet" type="text/css" media="screen, projection, print" href="{{ asset('css/style.css') }}" />
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="topbar">
			<a href="{{ path('home') }}"><img class="logo" src="{{ asset('img/logoheader_60.png') }}"/></a>
			<ul class="mainmenu">
				<li><a href="{{ path('contribuez') }}">Contribuez</a></li>
				<li><a href="{{ path('illustrez') }}">Illustrez</a></li>
				<li><a href="{{ path('agissez') }}">Agissez</a></li>
				<li><a href="{{ path('contact') }}">Contact</a></li>
				<li><img src="{{ asset('img/facebook_white_36.png') }}"/></li>
				<li><img src="{{ asset('img/twitter_white_36.png') }}"/></li>

			</ul>
		</div>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
