{% extends 'base.html.twig' %}

{% block body %}
	<div class="commune">
		<div class="col col1">
			<table class="categories">
				<tr>
					<td class="title">Histoire</td>
					<td><img src="{{ asset("img/histoire_48.png")}}" class="circle good"/></td>
					<td class="pourcent">80%</td>
				</tr>
				<tr>
					<td class="title">Géographie</td>
					<td><img src="{{ asset("img/geographie_48.png")}}" class="circle ok"/></td>
					<td class="pourcent">60%</td>
				</tr>
				<tr>
					<td class="title">Écomonie</td>
					<td><img src="{{ asset("img/economie_48.png")}}" class="circle poor"/></td>
					<td class="pourcent">40%</td>
				</tr>
				<tr>
					<td class="title">Population & Société</td>
					<td><img src="{{ asset("img/population_48.png")}}" class="circle bad"/></td>
					<td class="pourcent">20%</td>
				</tr>
			</table>
		</div><div class="col col2">
			<form method="get" action="{{ path("communeSearch") }}">
				<input name="title" value="" placeholder="Chercher mon village, ma ville" class="search" id="title"/>
			</form>
			<div class="result">
				<hr class="little"/>
				<span class="pourcent">50%</span>
				<hr/>
				L’article<br/>
				<span class="title">“{{ commune.getTitle() }}”</span><br/>
				est<br/>
				<span class="state">correct</span>
				<hr class="little"/>
			</div>
		</div><div class="col col3">
			<table class="categories">
				<tr>
					<td class="pourcent">40%</td>
					<td><img src="{{ asset("img/toponymie_48.png")}}" class="circle poor"/></td>
					<td class="title">Toponymie</td>
				</tr>
				<tr>
					<td class="pourcent">80%</td>
					<td><img src="{{ asset("img/politique_48.png")}}" class="circle good"/></td>
					<td class="title">Politique & Administration</td>
				</tr>
				<tr>
					<td class="pourcent">60%</td>
					<td><img src="{{ asset("img/patrimoine_48.png")}}" class="circle ok"/></td>
					<td class="title">Culture locale & Patrimoine</td>
				</tr>
				<tr>
					<td class="pourcent">20%</td>
					<td><img src="{{ asset("img/urbanisme_48.png")}}" class="circle bad"/></td>
					<td class="title">Urbanisme</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="footer">
		<ul>
			<li><img src="{{ asset("img/contribuez_48.png")}}" class="circle"/><p>Contribuez</p></li>
			<li><img src="{{ asset("img/illustrez_48.png")}}" class="circle"/><p>Illustrez</p></li>
			<li><img src="{{ asset("img/agissez_48.png")}}" class="circle"/><p>Agissez</p></li>
		</ul>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/suggest.js') }}"></script>
	<script type="text/javascript">
		window.onload = function() {
			var node = document.getElementById("title");
			if (node) {
				new Suggest(node, "{{ path('apiSuggest', {"tree": "communes"})}}?str=");
			}
		}
	</script>
{% endblock %}

