{% extends 'base.html.twig' %}

{% block body %}
	<div class="commune">
		<div class="col col1">
			<table class="categories">
				<tr>
					<td class="title">Histoire</td>
					<td><img src="{{ asset("img/histoire_48.png")}}" class="circle {% if sections.history < 33 %}bad{% elseif sections.history < 66 %}poor{% elseif sections.history < 100 %}ok{% else %}good{% endif %}"/></td>
					<td class="pourcent">{{ sections.history|round }}%</td>
					<td>({{ commune.getSectionHistory() }})</td>
				</tr>
				<tr>
					<td class="title">Géographie</td>
					<td><img src="{{ asset("img/geographie_48.png")}}" class="circle {% if sections.geography < 33 %}bad{% elseif sections.geography < 66 %}poor{% elseif sections.geography < 100 %}ok{% else %}good{% endif %}"/></td>
					<td class="pourcent">{{ sections.geography|round }}%</td>
					<td>({{ commune.getSectionGeography() }})</td>
				</tr>
				<tr>
					<td class="title">Écomonie</td>
					<td><img src="{{ asset("img/economie_48.png")}}" class="circle {% if sections.economy < 33 %}bad{% elseif sections.economy < 66 %}poor{% elseif sections.economy < 100 %}ok{% else %}good{% endif %}"/></td>
					<td class="pourcent">{{ sections.economy|round }}%</td>
					<td>({{ commune.getSectionEconomy() }})</td>
				</tr>
				<tr>
					<td class="title">Population & Société</td>
					<td><img src="{{ asset("img/population_48.png")}}" class="circle {% if sections.demographics < 33 %}bad{% elseif sections.demographics < 66 %}poor{% elseif sections.demographics < 100 %}ok{% else %}good{% endif %}"/></td>
					<td class="pourcent">{{ sections.demographics|round }}%</td>
					<td>({{ commune.getSectionDemographics() }})</td>
				</tr>
			</table>
		</div><div class="col col2">
			<div class="result">
				<hr class="little"/>
				<span class="pourcent">{{ ((sections.history+sections.geography+sections.economy+sections.demographics+sections.etymology+sections.governance+sections.culture+sections.infrastructure)/8)|round }}%</span>
				<hr/>
				L’article<br/>
				<span class="title">“{{ commune.getTitle() }}”</span><br/>
				est<br/>
				<span class="state">correct</span>
				<hr class="little"/>
			</div>
		</div><div class="col col3">
			<table class="categories">
				<tr>
					<td>({{ commune.getSectionEtymology() }})</td>
					<td class="pourcent">{{ sections.etymology|round }}%</td>
					<td><img src="{{ asset("img/toponymie_48.png")}}" class="circle {% if sections.etymology < 33 %}bad{% elseif sections.etymology < 66 %}poor{% elseif sections.etymology < 100 %}ok{% else %}good{% endif %}"/></td>
					<td class="title">Toponymie</td>
				</tr>
				<tr>
					<td>({{ commune.getSectionGovernance() }})</td>
					<td class="pourcent">{{ sections.governance|round }}%</td>
					<td><img src="{{ asset("img/politique_48.png")}}" class="circle {% if sections.governance < 33 %}bad{% elseif sections.governance < 66 %}poor{% elseif sections.governance < 100 %}ok{% else %}good{% endif %}"/></td>
					<td class="title">Politique & Administration</td>
				</tr>
				<tr>
					<td>({{ commune.getSectionCulture() }})</td>
					<td class="pourcent">{{ sections.culture|round }}%</td>
					<td><img src="{{ asset("img/patrimoine_48.png")}}" class="circle {% if sections.culture < 33 %}bad{% elseif sections.culture < 66 %}poor{% elseif sections.culture < 100 %}ok{% else %}good{% endif %}"/></td>
					<td class="title">Culture locale & Patrimoine</td>
				</tr>
				<tr>
					<td>({{ commune.getSectionInfrastructure() }})</td>
					<td class="pourcent">{{ sections.infrastructure|round }}%</td>
					<td><img src="{{ asset("img/urbanisme_48.png")}}" class="circle {% if sections.infrastructure < 33 %}bad{% elseif sections.infrastructure < 66 %}poor{% elseif sections.infrastructure < 100 %}ok{% else %}good{% endif %}"/></td>
					<td class="title">Urbanisme</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="footer">
		<ul>
			<li><a href="{{ path('decrivez') }}"><img src="{{ asset("img/contribuez_48.png")}}" class="circle"/><p>Contribuez</p></a></li>
			<li><a href="{{ path('illustrez') }}"><img src="{{ asset("img/illustrez_48.png")}}" class="circle"/><p>Illustrez</p></a></li>
			<li><a href="{{ path('agissez') }}"><img src="{{ asset("img/agissez_48.png")}}" class="circle"/><p>Agissez</p></a></li>
		</ul>
	</div>

{% endblock %}

